body{
    background-image: url("../images/striped_lens.png")
}

a{
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li {

    display: block;
    padding: 0 12px 0 12px;
    float: left;
    margin: 12px 0 12px 0;
    border-right: 1px solid #cccccc;
}

#third-menu-link{
    padding: 0 0 0 12px;
    border-right: 0;

}

.main{
    width: 70%;
    
    position: relative;
    left: 10px;
    background-color: #ffffff;
    overflow: auto;

    margin-top: 20px;

    margin-bottom: 20px;

    border: 1px solid #dddddd;

}

h2{
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 0 20px 0;
    margin: 0 20px 0 20px;
    border-bottom: 2px solid #cccccc;

}

.main-inner{
    margin: 20px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

#index-image{
    width: 150px;
    float: left;

    margin: 0 20px 20px 0;
    
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    height: 40px;
    font-size: 12px;
    position: relative;

    text-align: center;
}

span{
    position: absolute;
    bottom: 2px;
    
}

.port-img-container{
    float: left;
    position: relative;
    width: 45%;
    margin: 30px 3% 30px 0;
    overflow: auto;
}

.port-img{
    width: 100%;
}

.centered-text{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    padding: 18px 0 18px 0;
    text-align: center;


}

form{
    margin: 20px 20px 20px 0;
}

.form-names{
    padding: 3px 0 5px 0;
}

#submit-button{
    background-color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    font-size: 18px;
    padding: 6px 12px 6px 12px;
    margin: 10px 0 0 0;

}

@media screen and (min-width: 768px) {
    
    header{
        width: 100%;
        background-color: #ffffff;
        height: 64px;
        border-bottom: 2px solid  #cccccc;
        position: relative;
    }
    
    h1{
        position: absolute;
        left: 10px;
        bottom: 0;
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, Times New Roman, serif;
        text-align: center;
        font-size: 24px;
        padding: 20px;
        font-weight: bold;
    
    }
    
    ul {
        list-style-type: none;
        margin: 0 0 16px 0;
        padding: 0;
        overflow: hidden;
        color: #777777;
        position: absolute;
        right: 10px;
        bottom:0;
        background-color: #ffffff
    }

    #index-image{
        width: 300px;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    
    .main{
        width: 95%;
        right: 10px;
        left: 10px;
    }

    header{
        width: 100%;
        background-color: #ffffff;
        height: 64px;
        border-bottom: 2px solid  #cccccc;
        position: relative;
    }
    
    h1{
        position: absolute;
        left: 10px;
        bottom: 0;
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, Times New Roman, serif;
        text-align: center;
        font-size: 24px;
        padding: 20px;
        font-weight: bold;
    
    }
    
    ul {
        list-style-type: none;
        margin: 0 0 16px 0;
        padding: 0;
        overflow: hidden;
        color: #777777;
        position: absolute;
        right: 10px;
        bottom:0;
        background-color: #ffffff;
    }

    #index-image{
        width: 200px;
    }
}

@media screen and (max-width: 640px) {

    header{
        width: 100%;
        background-color: #ffffff;
        border-bottom: 2px solid  #cccccc;
        height: 128px;
    }
    
    h1{
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, Times New Roman, serif;
        text-align: center;
        font-size: 24px;
        padding: 20px 0 20px 0;
        font-weight: bold;
        width: 100%;
        position: relative;
        top: 0;
    
    }
    
    ul {
        list-style-type: none;
        color: #777777;
        background-color: #ffffff;
        height:24px;
        width: 206px;
        margin: 0 auto;
    }

    #first-menu-link{
        padding: 0 12px 0 0;

    }

    .main{
        width: 95%;
        right: 10px;
        left: 10px;
    }

    #index-image{
        width: 100%;
    }

    .port-img-container{
        width:90%;
    }
}